.contact {
    width: 100%;
    padding: 40px;
    
    .messageMe {
        width: 30%;
        margin: auto;
        padding: 5% 10%;
        background: #000;
        box-shadow: 7px 7px 0 #fff;

        h2 {
            color: #fff;
        }

        textarea {
            height: 100px;
        }

        button {
            width: 100%;
            padding: 10px;
        }
    }
}